<html>
<head>
    <meta charset="utf-8">
    <title>Greeno</title>
    <link rel="stylesheet" href="assets/index.css">
</head>
<body>


    <section id="greeno-app">
        <header id="header">
			<div class="col-sm-6">
				<a href="https://docs.google.com/spreadsheets/d/1I4NWahlbjE96KEDtKdvH_Hy9iVViOdvC0wMzGhXL5UI/edit?usp=sharing">Calculate</a> your power usage depending on your electrical appliances
			</div>										<!--      <>      todo header-->
        </header>
        <section id="usage-calculator">
            
        </section>
        
        <section id="market">
            <ul>
                
            </ul>
        </section>
        
        <footer id="footer">
            
        </footer>
    </section>
    
    <script type="text/template" id="usage-calculator-template">
        <div><label>Bill usage</label> <input type="text" id="bill-usage"></div>
        <div><button type="submit" id="calculate-usage">Find no. of panels</button></div>
        <div><label>No. of panels you need: <%= panelNum %></label></div>
        <div><label>Bill will reduce to: <%= billReduction %></label></div>
    </script>
    
    <script type="text/template" id="product-template">
        <header>
            <div class="title"><label><%= title %></label></div> | <div class="brand"><label><%= brandName %></label></div>
        <header>
        <img href="<%= image %>">
        <div class="price"><label><%= price %></label></div>
    </script>
        
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/lib/backbone.localStorage-min.js"></script>
    <script src="js/models/product.js"></script>
    <script src="js/collections/products.js"></script>
    <script src="js/views/product.js"></script>
    <script src="js/views/app.js"></script>
    <script src="js/routers/router.js"></script>
    <script src="js/app.js"></script>
    
    
</body>
</html>